@model Library.Models.ReservationsViewModel

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}


<h1>Pending reservations</h1>

<table class="table" id="reservations-table">
    <thead>
        <tr>
            <th>Book</th>
            <th>User</th>
            <th>Approve</th>
            <th>Dissaprove</th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.Reservations != null)
            {
                @foreach (var item in Model.Reservations)
                {
                <tr>
                    <td>@item.BookTitle</td>
                    <td>@item.UserName</td>
                    <td>
                        <form asp-controller="IssuedBook" asp-action="CreateIssuedBook" method="post">
                            <input type="hidden" id="bookId" name="bookId" value="@item.BookId" />
                            <input type="hidden" id="userId" name="userId" value="@item.UserId" />
                            <input type="hidden" id="reservationId" name="reservationId" value="@item.ReservationId" />
                            <button class="btn btn-primary" type="submit">Approve</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Reservation" asp-action="DeleteReservation" method="post">
                            <input type="hidden" id="reservationId" name="reservationId" value="@item.ReservationId" />
                            <button class="btn btn-danger" type="submit" >Dissaprove</button>
                        </form>
                    </td>
                </tr>
                }
                }
            }
    </tbody>
</table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalRhub.js"></script>